
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Transacción</title>
</head>
<body>
<div th:replace="~{sidebar :: sidebar}"></div>
<h2 th:text="${transaction.id} != null ? 'Editar Transacción' : 'Nueva Transacción'"></h2>

<form th:action="@{/transactions/guardar}" th:object="${transaction}" method="post">

    <!-- Monto -->
    <label>Monto:</label>
    <input type="number" step="0.01" th:field="*{monto}" required><br><br>

    <!-- Descripción -->
    <label>Descripción:</label>
    <input type="text" th:field="*{descripcion}" required><br><br>

    <!-- Categoría -->
    <label>Categoría:</label>
    <select th:field="*{categoriaId}" required>
        <option value="">Seleccione</option>
        <option th:each="cat : ${categories}"
                th:value="${cat.id}"
                th:text="${cat.nombre}">
        </option>
    </select>
    <br><br>

    <button type="submit">Guardar</button>
</form>

</body>
</html>
